<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SearchAndReplace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <SearchAndReplace.Properties.Settings>
      <setting name="FilePath" serializeAs="String">
        <value>H:\Dev\Haxe\B2destHero\Level05.json</value>
      </setting>
      <setting name="Search" serializeAs="String">
        <value>filter-categoryBits|filter-maskBits</value>
      </setting>
      <setting name="Replace" serializeAs="String">
        <value>filterCategoryBits|filterMaskBits</value>
      </setting>
      <setting name="BackUpFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackUpExt" serializeAs="String">
        <value>~sav</value>
      </setting>
      <setting name="Separator" serializeAs="String">
        <value>|</value>
      </setting>
    </SearchAndReplace.Properties.Settings>
  </applicationSettings>
</configuration>
